.c-sidebar {
    @include for-phone-only {
        width: 80%;
    }
    @include for-tablet-only {
        width: 70%;
    }

    width: calc(100% - #{$large-space});

    &.c--hide {
        display: none !important;
    }

    // need to place code here after .c--hide style so it will overide style
    @include for-tablet-landscape-up {
        width: $sidebar-width;

        &.c--hide {
            display: flex !important;
        }
    }
}

.sdk-sidebar__doc-title {
    margin: 0;
}

/* Sidebar Accordio */
/* 1. To absolutely position the accordion icon relative to accordion */
/* 2. To align the icon to the text  */
/* 3. A fix for Chrome Canary */

.sdk-sidebar__accordion {
    position: relative; /* 1 */
    padding: $base-space;

    width: 100%;

    border-radius: unset; /* 3 */

    background-color: $mobify-dark-blue;
    color: $white;
    text-align: left;

    transition: color 0.2s ease-out;

    border-style: none;
}

.sdk-sidebar__accordion.c--active {
    background: $lighter-accent-color;
}

.sdk-sidebar__accordion:hover {
    background: $black-20;

    cursor: pointer;
}

.sdk-sidebar__accordion ~ .sdk-sidebar__accordion-item {
    visibility: hidden;
}

.sdk-sidebar__accordion.sdk--active ~ .sdk-sidebar__accordion-item {
    visibility: visible;
}

.sdk-sidebar__accordion-title {
    margin-left: $large-space;
    font-size: $medium-font-size;
}

.sdk-sidebar__accordion:before {
    content: '';

    position: absolute; /* 1 */
    top: 20px; /* 2 */
    left: 0;

    width: 15px;
    height: 15px;
    margin-left: $base-space;

    background-image: url('../icons/plus.svg');

    transform: rotate(0);

    transition: transform 0.2s ease-out;
}

.sdk-sidebar__accordion.sdk--active:before {
    transform: rotate(45deg);
}

.sdk-sidebar__accordion.sdk--active {
    background: $dark-accent-color;
}

.sdk-sidebar__accordion.sdk--active::after {
    content: '';

    position: absolute; /* 1 */
    right: 16px;
    bottom: 0;
    left: 16px;

    border-top: 1px solid $mobify-dark-blue;
}

.sdk-sidebar__accordion.sdk--active ~ .sdk-sidebar__accordion-item {
    color: $white;
    background: $dark-accent-color;
    padding: $base-space 0;
}

.sdk-sidebar__accordion:focus {
    outline: none;
}

.sdk-sidebar__accordion-item,
.c-sidebar__product-picker-item {
    overflow: hidden;
    max-height: 0;

    transition: max-height 0.2s ease-out;
}

.sdk-sidebar__accordion.sdk--remove-transition ~ .sdk-sidebar__accordion-item {
    transition: none;
}

.sdk-sidebar__link {
    display: block;
    padding: $base-space;

    color: $white;
}

.sdk-sidebar__link.c--active {
    background: $lighter-accent-color;
}

.sdk-sidebar__link:hover {
    background: $black-20;
    color: $white;
}

.sdk-sidebar__list-link {
    display: block;
    margin: 1px 0;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 16px;

    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;

    color: $white;
    font-size: 14px;
    text-decoration: none;
}

/* Special padding for 3rd-level menu items */
.sdk-sidebar__list li ul li ul a {
    padding-left: 50px;
}

.sdk-sidebar__accordion-item a.c--active {
    background-color: $lighter-accent-color;

    font-weight: $heavy-font-weight;
}

.sdk-sidebar__list-link:hover,
.sdk-sidebar__list-link:focus {
    background: $light-accent-color;

    color: $white;
}

.sdk-sidebar__accordion-item a:active {
    background: $lighter-accent-color;

    color: $white;
}

.sdk-sidebar__scroll {
    overflow-y: scroll;

    -webkit-overflow-scrolling: touch;
}

.sdk-sidebar__scroll::-webkit-scrollbar {
    display: none;
}

.c-sidebar__product-picker {
    button {
        color: $white;
        padding: 0;
        border: 0;
    }
}

.c-sidebar__product-picker-link {
    color: $white;
}

.c-sidebar__product-picker-item ~ .c-sidebar__product-picker-item {
    visibility: hidden;
}

.c-sidebar__product-picker-item.c--active ~ .c-sidebar__product-picker-item {
    visibility: visible;
}

.c-sidebar__product-picker-chevron {
    transition: transform 0.2s ease-out;

    &.c--active {
        transform: rotate(180deg);
    }
}
