/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc; }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc; }

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none; } }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #999; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5); }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a; }

.token.function {
  color: #DD4A68; }

.token.regex,
.token.important,
.token.variable {
  color: #e90; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  border: 1px solid #d2d2d2;
  border-radius: 2px;
  background: #fff; }

pre code {
  padding: 0;
  border: 0;
  background-color: transparent;
  font-family: inherit; }

.u-background-neutral-10 {
  background-color: #fff !important; }

.u-background-neutral-20 {
  background-color: #f7f7f7 !important; }

.u-background-neutral-40 {
  background-color: #ebebeb !important; }

.u-background-neutral-50 {
  background-color: #707070 !important; }

.u-background-neutral-60 {
  background-color: #333 !important; }

.u-background-neutral-70 {
  background-color: #061727 !important; }

.u-background-accent {
  background-color: #005c83 !important; }

.u-background-accent-dark {
  background-color: #003e58 !important; }

.u-background-accent-darker {
  background-color: #002c3f !important; }

.u-background-accent-gradient {
  background-image: linear-gradient(135deg, #003e58, #005c83) !important; }

.u-background-transparent {
  background-color: transparent !important; }

.u-background-warning {
  background-color: #fac46b !important; }

.u-border-0 {
  border: 0; }

.u-neutral-10 {
  color: #fff !important; }

.u-neutral-20 {
  color: #f7f7f7 !important; }

.u-neutral-40 {
  color: #ebebeb !important; }

.u-neutral-50 {
  color: #707070 !important; }

.u-neutral-60 {
  color: #333 !important; }

.u-neutral-70 {
  color: #061727 !important; }

.u-link-color {
  color: #005c83 !important; }
  .u-link-color:active, .u-link-color:hover, .u-link-color:focus {
    color: #003e58; }

.u-block {
  display: block !important; }

.u-flexbox {
  display: flex !important; }
  @media (min-width: 35em) {
    .u-flexbox--for-tablet-portrait-up {
      display: flex !important; } }

.u-flexbox-gutters {
  margin-right: -8px !important;
  margin-left: -8px !important; }
  .u-flexbox-gutters > .u-flex,
  .u-flexbox-gutters > .u-flex-none {
    margin-right: 8px !important;
    margin-left: 8px !important; }

.u-align-top {
  align-items: flex-start !important; }

.u-align-center {
  align-items: center !important; }

.u-align-bottom {
  align-items: flex-end !important; }

.u-align-flex-baseline {
  align-items: baseline !important; }

.u-align-flex-end {
  align-items: flex-end !important; }

.u-justify-start {
  justify-content: flex-start !important; }

.u-justify-end {
  justify-content: flex-end !important; }

.u-justify-between {
  justify-content: space-between !important; }

.u-justify-center {
  justify-content: center !important; }

.u-justify-around {
  justify-content: space-around !important; }

.u-flex-column {
  flex-direction: column !important; }

.u-flex-row {
  flex-direction: row !important; }

.u-flex {
  flex: 1 1 auto !important; }

.u-flex-none {
  flex: 0 0 auto !important; }

.u-clip {
  overflow: hidden !important; }

.u-hidden {
  display: none !important; }
  @media (max-width: 35em) {
    .u-hidden--for-phone-only {
      display: none !important; } }
  @media (min-width: 35em) and (max-width: 60em) {
    .u-hidden--for-tablet-only {
      display: none !important; } }
  @media (min-width: 35em) {
    .u-hidden--for-tablet-portrait-up {
      display: none !important; } }
  @media (min-width: 60em) {
    .u-hidden--for-tablet-landscape-up {
      display: none !important; } }

.u-visually-hidden {
  position: absolute !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important; }

.u-float-start {
  float: left !important; }

.u-float-end {
  float: right !important; }

.u-clearfix::after {
  content: '' !important;
  clear: both !important;
  display: table !important; }

.u-context {
  position: relative !important; }

.u-position {
  position: absolute !important; }

.u-fixed {
  position: fixed !important; }

.u-place-top {
  top: 0 !important; }

.u-place-top-halfway {
  top: 50% !important; }

.u-place-end {
  right: 0 !important; }

.u-place-end-halfway {
  right: 50% !important; }

.u-place-bottom {
  bottom: 0 !important; }

.u-place-bottom-halfway {
  bottom: 50% !important; }

.u-place-start {
  left: 0 !important; }

.u-place-start-halfway {
  left: 50% !important; }

.u-realign-center {
  transform: translate(-50%, -50%) !important; }

.u-realign-center-vertically {
  transform: translateY(-50%) !important; }

.u-realign-center-horizontally {
  transform: translateX(-50%) !important; }

.u-bleed {
  margin-right: -16px !important;
  margin-left: -16px !important; }

.u-bleed-start {
  margin-left: -16px !important; }

.u-bleed-end {
  margin-right: -16px !important; }

.u-bleed-top {
  margin-top: -16px !important; }

.u-bleed-bottom {
  margin-bottom: -16px !important; }

.u-z1 {
  z-index: 1 !important; }

.u-z2 {
  z-index: 10 !important; }

.u-z3 {
  z-index: 100 !important; }

.u-z4 {
  z-index: 1000 !important; }

.u-height-full-vh {
  min-height: 100vh; }

.u-min-width-auto {
  min-width: auto !important; }

.u-ios-iphone-7 {
  width: 375px;
  margin: 0 auto; }

.u-android-nexus-5 {
  width: 360px;
  margin: 0 auto; }

.u-list-style-none {
  list-style-type: none !important; }

.u-margin-top-auto {
  margin-top: auto !important; }

.u-margin-top-xs {
  margin-top: 4px !important; }

.u-margin-top-sm {
  margin-top: 8px !important; }

.u-margin-top {
  margin-top: 16px !important; }

.u-margin-top-md {
  margin-top: 20px !important; }

.u-margin-top-lg {
  margin-top: 24px !important; }

.u-margin-top-xl {
  margin-top: 40px !important; }

.u-margin-top-massive {
  margin-top: 64px !important; }

.u-margin-bottom-auto {
  margin-bottom: auto !important; }

.u-margin-bottom-xs {
  margin-bottom: 4px !important; }

.u-margin-bottom-sm {
  margin-bottom: 8px !important; }

.u-margin-bottom {
  margin-bottom: 16px !important; }

.u-margin-bottom-md {
  margin-bottom: 20px !important; }

.u-margin-bottom-lg {
  margin-bottom: 24px !important; }

.u-margin-bottom-xl {
  margin-bottom: 40px !important; }

.u-margin-bottom-massive {
  margin-bottom: 64px !important; }

.u-margin-start-auto {
  margin-left: auto !important; }

.u-margin-start-xs {
  margin-left: 4px !important; }

.u-margin-start-sm {
  margin-left: 8px !important; }

.u-margin-start {
  margin-left: 16px !important; }

.u-margin-start-md {
  margin-left: 20px !important; }

.u-margin-start-lg {
  margin-left: 24px !important; }

.u-margin-start-xl {
  margin-left: 40px !important; }

.u-margin-start-massive {
  margin-left: 64px !important; }

.u-margin-end-auto {
  margin-right: auto !important; }

.u-margin-end-xs {
  margin-right: 4px !important; }

.u-margin-end-sm {
  margin-right: 8px !important; }

.u-margin-end {
  margin-right: 16px !important; }

.u-margin-end {
  margin-right: 20px !important; }

.u-margin-end-lg {
  margin-right: 24px !important; }

.u-margin-end-xl {
  margin-right: 40px !important; }

.u-margin-end-massive {
  margin-right: 64px !important; }

.u-not-transparent {
  opacity: 1; }

.u-slightly-transparent {
  opacity: 0.75; }

.u-moderately-transparent {
  opacity: 0.5; }

.u-very-transparent {
  opacity: 0.15; }

.u-fully-transparent {
  opacity: 0; }

.u-padding-top-xs {
  padding-top: 4px !important; }

.u-padding-top-sm {
  padding-top: 8px !important; }

.u-padding-top {
  padding-top: 16px !important; }

.u-padding-top-lg {
  padding-top: 24px !important; }

.u-padding-top-xl {
  padding-top: 40px !important; }

.u-padding-top-massive {
  padding-top: 64px !important; }

.u-padding-bottom-xs {
  padding-bottom: 4px !important; }

.u-padding-bottom-sm {
  padding-bottom: 8px !important; }

.u-padding-bottom {
  padding-bottom: 16px !important; }

.u-padding-bottom-lg {
  padding-bottom: 24px !important; }

.u-padding-bottom-xl {
  padding-bottom: 40px !important; }

.u-padding-bottom-massive {
  padding-bottom: 64px !important; }

.u-padding-start-xs {
  padding-left: 4px !important; }

.u-padding-start-sm {
  padding-left: 8px !important; }

.u-padding-start {
  padding-left: 16px !important; }

.u-padding-start-lg {
  padding-left: 24px !important; }

.u-padding-start-xl {
  padding-left: 40px !important; }

.u-padding-start-massive {
  padding-left: 64px !important; }

.u-padding-end-xs {
  padding-right: 4px !important; }

.u-padding-end-sm {
  padding-right: 8px !important; }

.u-padding-end {
  padding-right: 16px !important; }

.u-padding-end-lg {
  padding-right: 24px !important; }

.u-padding-end-xl {
  padding-right: 40px !important; }

.u-padding-end-massive {
  padding-right: 64px !important; }

.u-small-shadow {
  box-shadow: 0 0.1rem 0.25rem rgba(6, 23, 39, 0.1); }

.u-small-shadow-inset {
  box-shadow: inset 0 0.25rem 0.1rem -0.1rem rgba(6, 23, 39, 0.1); }

.u-large-shadow {
  box-shadow: 0 0 0.35rem rgba(6, 23, 39, 0.4); }

.u-text-uppercase {
  text-transform: uppercase !important; }

.u-text-capitalize {
  text-transform: capitalize !important; }

.u-text-align-start {
  text-align: left !important; }

.u-text-align-center {
  text-align: center !important; }

.u-text-align-end {
  text-align: right !important; }

.u-text-size-small {
  font-size: 12px !important; }

.u-text-size-normal {
  font-size: 16px !important; }

.u-text-size-medium {
  font-size: 18px !important; }
  @media (min-width: 35em) {
    .u-text-size-medium {
      font-size: 20px !important; } }

.u-text-size-large {
  font-size: 20px !important; }
  @media (min-width: 35em) {
    .u-text-size-large {
      font-size: 28px !important; } }

.u-text-size-larger {
  font-size: 24px !important; }

.u-text-size-large-fixed {
  font-size: 20px !important; }

.u-text-size-very-large {
  font-size: 28px !important; }
  @media (min-width: 35em) {
    .u-text-size-very-large {
      font-size: 34px !important; } }

.u-text-size-massive {
  font-size: 42px !important; }
  @media (min-width: 35em) {
    .u-text-size-massive {
      font-size: 64px !important; } }

.u-text-regular {
  font-weight: 400 !important; }

.u-text-medium {
  font-weight: 500 !important; }

.u-text-bold {
  font-weight: 700 !important; }

.u-text-italic {
  font-style: italic !important; }

.u-text-truncate {
  overflow: hidden !important;
  max-width: 100% !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important; }

.u-text-no-wrap {
  white-space: nowrap !important; }

.u-text-leading-reset {
  line-height: 1 !important; }

.u-text-leading-default {
  line-height: 1.5 !important; }

.u-text-tabular-nums {
  font-variant-numeric: lining-nums tabular-nums !important; }

.u-text-pad-digits-1-start::before {
  content: "0";
  visibility: hidden; }

*,
*::after,
*::before {
  box-sizing: border-box; }

html,
body {
  min-height: 100%;
  color: #333;
  font-family: "Gotham SSm A", "Gotham SSm B", "avenir", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", helvetica, sans-serif;
  font-size: 16px; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block; }

img {
  max-width: 100%;
  height: auto; }

svg {
  fill: currentColor; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

code {
  padding: 0 4px;
  border: 1px solid #d3e0e7;
  background-color: #e9f6fc;
  font-family: "consolas", "menlo", monospace; }

[hidden] {
  display: none !important; }

h2 > a[name],
h3 > a[name],
h4 > a[name],
h5 > a[name],
h6 > a[name] {
  font-size: 1.125rem;
  visibility: hidden; }

h2:hover > a[name],
h3:hover > a[name],
h4:hover > a[name],
h5:hover > a[name],
h6:hover > a[name] {
  visibility: visible; }

@font-face {
  font-family: 'Mobify-Icons';
  font-style: normal;
  font-weight: normal;
  src: url("../icons/Mobify-Icons.eot?1");
  src: url("../icons/Mobify-Icons.eot") format("embedded-opentype"), url("../icons/Mobify-Icons.woff") format("woff"), url("../icons/Mobify-Icons.ttf") format("truetype"), url("../icons/Mobify-Icons.svg") format("svg"); }

h1, .c-heading.c--h1, h2, .c-heading.c--h2, .c-heading {
  margin: 0;
  font-family: "Gotham SSm A", "Gotham SSm B", "avenir", sans-serif;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -.05rem; }

h1,
.c-heading.c--h1 {
  font-size: 24px; }
  @media (min-width: 35em) {
    h1,
    .c-heading.c--h1 {
      font-size: 34px; } }

h2,
.c-heading.c--h2 {
  font-size: 18px; }
  @media (min-width: 35em) {
    h2,
    .c-heading.c--h2 {
      font-size: 24px; } }

h3,
.c-heading.c--h3 {
  font-size: 16px; }
  @media (min-width: 35em) {
    h3,
    .c-heading.c--h3 {
      font-size: 18px;
      font-weight: 500; } }

h4,
.c-heading.c--h4 {
  font-size: 17px; }
  @media (min-width: 35em) {
    h4,
    .c-heading.c--h4 {
      font-size: 18px; } }

h5,
h6,
.c-heading.c--h5,
.c-heading.c--h6 {
  font-size: 16px; }

p {
  margin: 0; }
  p + p {
    margin-top: 24px; }
  p:empty {
    display: none; }

a {
  color: #005c83;
  text-decoration: none; }
  a:active, a:hover, a:focus {
    color: #003e58; }

.c-article {
  overflow: hidden;
  min-height: 100vh;
  transition: all 0.15s ease-out; }
  @media (min-width: 60em) {
    .c-article {
      margin-left: 300px; } }
  @media (max-width: 35em) {
    .c-article.c--sidebar-open {
      transform: translate(80%, 0); } }
  @media (min-width: 35em) and (max-width: 60em) {
    .c-article.c--sidebar-open {
      transform: translate(70%, 0); } }

.c-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 38px;
  min-height: 38px;
  padding: 8px 16px;
  border: 1px solid currentColor;
  border-radius: 2px;
  background: transparent;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  color: #005c83;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  transition-property: color, background, border;
  transition-duration: 0.15s; }

.c-button.c--primary {
  border-color: #005c83;
  background: #005c83;
  color: #fff; }
  .c-button.c--primary:hover, .c-button.c--primary:focus {
    border-color: #0288a7;
    background: #0288a7; }
  .c-button.c--primary:active {
    border-color: #003e58;
    background: #003e58; }

.c-button.c--secondary {
  border-color: #005c83;
  background: #fff;
  color: #005c83; }
  .c-button.c--secondary:hover, .c-button.c--secondary:focus {
    border-color: #0288a7;
    background: #fff;
    color: #0288a7; }
  .c-button.c--secondary:active {
    border-color: #003e58;
    background: #fff;
    color: #003e58; }

.c-button.c--error {
  border-color: #b60000;
  background: #b60000;
  color: #fff; }
  .c-button.c--error:hover, .c-button.c--error:focus {
    border-color: #dc0a3c;
    background: #dc0a3c; }
  .c-button.c--error:active {
    border-color: #b60000;
    background: #b60000; }

.c-button[disabled], .c-button.c--primary[disabled], .c-button.c--secondary[disabled], .c-button.c--error[disabled] {
  border-color: #c8c8c8;
  background-color: #c8c8c8;
  color: #646362;
  cursor: not-allowed; }

.c-contain {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px; }
  @media (min-width: 35em) {
    .c-contain {
      max-width: calc(60em + 64px);
      padding-right: 32px;
      padding-left: 32px; } }
  .c-contain.c--narrow {
    max-width: calc(20em + 64px); }

.c-deprecated {
  padding: 15px;
  line-height: 1.5;
  font-size: 17px;
  text-align: center; }

.c-divider,
.c-text-content hr {
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #d2d2d2; }

.c-grid {
  display: flex;
  flex-wrap: wrap; }
  @media (min-width: 35em) {
    .c-grid {
      margin-right: -8px;
      margin-left: -8px; }
      .c-grid.c--2up > * {
        width: calc(50% - 16px); }
        .c-grid.c--2up > *:last-child, .c-grid.c--2up > *:nth-last-of-type(-n + 2):not(:nth-child(even)) {
          margin-bottom: 0; }
      .c-grid.c--3up > * {
        width: calc(33.33333% - 16px); }
        .c-grid.c--3up > *:last-child, .c-grid.c--3up > *:nth-last-of-type(-n + 3):not(:nth-child(even)) {
          margin-bottom: 0; }
      .c-grid.c--4up > * {
        width: calc(25% - 16px); }
        .c-grid.c--4up > *:last-child, .c-grid.c--4up > *:nth-last-of-type(-n + 4):not(:nth-child(even)) {
          margin-bottom: 0; }
      .c-grid.c--5up > * {
        width: calc(20% - 16px); }
        .c-grid.c--5up > *:last-child, .c-grid.c--5up > *:nth-last-of-type(-n + 5):not(:nth-child(even)) {
          margin-bottom: 0; }
      .c-grid.c--6up > * {
        width: calc(16.66667% - 16px); }
        .c-grid.c--6up > *:last-child, .c-grid.c--6up > *:nth-last-of-type(-n + 6):not(:nth-child(even)) {
          margin-bottom: 0; } }
  .c-grid > * {
    margin-bottom: 16px; }
    @media (min-width: 35em) {
      .c-grid > * {
        margin-right: 8px;
        margin-left: 8px; } }

.c-icon svg {
  width: 18px;
  height: 18px; }

.c-logo {
  width: 96px;
  height: auto; }

.c-logo.c--full-color .c-logo__spark-light-orange {
  color: #f58431; }

.c-logo.c--full-color .c-logo__spark-dark-orange {
  color: #ef4b34; }

.c-logo.c--full-color .c-logo__spark-light-blue {
  color: #0688a7; }

.c-logo.c--full-color .c-logo__spark-dark-blue {
  color: #005c83; }

.c-logo.c--full-color .c-logo__spark-light-red {
  color: #db1d3e; }

.c-logo.c--full-color .c-logo__spark-dark-red {
  color: #b41f24; }

.c-logo.c--full-color .c-logo__wordmark {
  color: currentColor; }

.c-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: none; }
  .c-overlay.c--active {
    display: block; }
  .c-overlay.c--transparent {
    background: transparent; }
  .c-overlay.c--transparent-half {
    background: linear-gradient(to bottom, transparent 54px, rgba(0, 0, 0, 0.5) 54px); }

.c-scroller {
  overflow-y: auto;
  width: 100%;
  margin: 0 0 1em; }

.c-search-box {
  width: 100%;
  min-width: 288px;
  min-height: 40px;
  border: 1px solid #d2d2d2;
  background-color: #fff; }
  @media (max-width: 35em) {
    .c-search-box {
      min-width: inherit; } }
  .c-search-box .gsc-branding {
    display: none !important; }
  .c-search-box .gsc-input-box {
    position: relative;
    height: 38px;
    border: 0;
    border-radius: 1px;
    text-align: center; }
  .c-search-box form.gsc-search-box,
  .c-search-box table.gsc-search-box {
    margin-bottom: 0;
    font-size: 16px; }
  .c-search-box table.gsc-search-box {
    width: 100%; }
  .c-search-box .gsc-input-box-hover {
    box-shadow: none; }
  .c-search-box td.gsc-input {
    padding-right: 0 !important; }
  .c-search-box .gsc-search-box-tools .gsc-search-box input.gsc-input {
    margin: 0 !important;
    padding: 0 0 0 32px !important;
    text-indent: 0 !important; }
  .c-search-box .gsc-input-box-focus {
    position: relative;
    box-shadow: 0 0 0.35rem rgba(6, 23, 39, 0.4);
    transition: all 0.15s ease-in-out; }
    .c-search-box .gsc-input-box-focus::after {
      content: 'Press Enter to search';
      position: absolute;
      top: 40px;
      left: 0;
      display: block;
      color: #fff;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", helvetica, sans-serif;
      font-size: 12px; }
    .c-search-box .gsc-input-box-focus::before {
      opacity: 0;
      transition: all 0.15s ease-out; }
    .c-search-box .gsc-input-box-focus .gsib_a::before {
      background-image: url("../icons/icon-search-blue.svg");
      transition: all 0.15s ease-out; }
  .c-search-box .gsib_a {
    position: relative;
    transition: all 0.15s linear; }
    .c-search-box .gsib_a::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 18px;
      height: 18px;
      background-image: url("../icons/icon-search.svg");
      background-size: contain;
      transform: translate(50%, -50%);
      pointer-events: none; }
  .c-search-box .gsib_a .gsc-input {
    width: 100% !important;
    height: 38px !important;
    margin-left: 24px !important;
    padding: 0;
    background: none !important;
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", helvetica, sans-serif;
    font-size: 16px;
    vertical-align: middle; }
  .c-search-box .gsc-search-button {
    display: none; }
  .c-search-box .gsc-search-box td {
    padding: 0;
    vertical-align: inherit; }
  .c-search-box .gscb_a {
    font-size: inherit; }
  .c-search-box .gsst_a {
    position: relative; }
    .c-search-box .gsst_a::after {
      content: '';
      position: absolute;
      top: 7px;
      left: 0;
      width: 18px;
      height: 18px;
      background-image: url("../icons/icon-search-clear.svg");
      background-size: contain; }

.c-search-results {
  position: relative;
  min-height: 300px; }
  .c-search-results #___gcse_1 {
    position: relative;
    z-index: 10;
    background-color: #f7f7f7; }
  .c-search-results .c-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%); }
  .c-search-results .gsc-adBlock {
    display: none !important; }
  .c-search-results .gcsc-branding {
    margin-bottom: 16px;
    padding-top: 0;
    padding-right: 0; }
  .c-search-results .gcsc-branding-text.gcsc-branding-text-name {
    margin-right: 0; }
  @media (max-width: 35em) {
    .c-search-results .gsc-above-wrapper-area-container td {
      display: block;
      text-align: left; } }
  .c-search-results .cse .gsc-control-cse,
  .c-search-results .gsc-control-cse {
    padding: 0;
    border: 0;
    background-color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5; }
    .c-search-results .cse .gsc-control-cse .gsc-option-selector,
    .c-search-results .gsc-control-cse .gsc-option-selector {
      top: 50%;
      right: 8px;
      width: 10px;
      height: 5px;
      margin-top: 0;
      padding: 0;
      background: transparent; }
      .c-search-results .cse .gsc-control-cse .gsc-option-selector::before,
      .c-search-results .gsc-control-cse .gsc-option-selector::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        border-top: 5px solid #333;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent; }
  .c-search-results .gsc-webResult .gsc-result {
    padding: 16px 0; }
  .c-search-results .gsc-control-cse .gsc-table-result {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5; }
  .c-search-results .gsc-webResult.gsc-result,
  .c-search-results .gsc-results .gsc-imageResult {
    border: 0 !important;
    background-color: transparent; }
    .c-search-results .gsc-webResult.gsc-result:hover, .c-search-results .gsc-webResult.gsc-result:active, .c-search-results .gsc-webResult.gsc-result:focus,
    .c-search-results .gsc-results .gsc-imageResult:hover,
    .c-search-results .gsc-results .gsc-imageResult:active,
    .c-search-results .gsc-results .gsc-imageResult:focus {
      background-color: transparent; }
  .c-search-results .gsc-results {
    width: 100%;
    padding-bottom: 0; }
  .c-search-results .gsc-result-info {
    padding-left: 0;
    color: #707070;
    font-size: 16px; }
  .c-search-results .gsc-orderby-label {
    color: #707070; }
  .c-search-results .gsc-control-cse .gsc-option-menu-container {
    color: #333; }
  .c-search-results .gsc-selected-option-container {
    max-width: 100%;
    height: 38px;
    padding-left: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 38px; }
  .c-search-results .gsc-option-menu-item {
    min-height: 38px; }
  .c-search-results .gsc-option {
    line-height: 38px; }
  .c-search-results .gsc-above-wrapper-area {
    margin-bottom: 24px;
    padding-top: 0;
    padding-bottom: 24px;
    border-color: #d2d2d2; }
  .c-search-results .gsc-thumbnail-inside,
  .c-search-results .gsc-url-top {
    padding-left: 0; }
  .c-search-results .gsc-control-cse .gs-spelling,
  .c-search-results .gsc-control-cse .gs-result .gs-title,
  .c-search-results .gsc-control-cse .gs-result .gs-title * {
    font-size: 18px; }
  .c-search-results .gsc-result .gs-title {
    height: auto; }
  .c-search-results .gcsc-branding-clickable {
    padding-top: 2px;
    line-height: 0; }
  .c-search-results .gs-result .gs-title,
  .c-search-results .gs-result .gs-title * {
    color: #005c83;
    font-size: 18px;
    text-decoration: none; }
  .c-search-results .gs-webResult .gs-snippet,
  .c-search-results .gs-imageResult .gs-snippet,
  .c-search-results .gs-fileFormatType {
    color: #333;
    font-size: 16px; }
  .c-search-results .gs-webResult.gs-result a.gs-title:link,
  .c-search-results .gs-webResult.gs-result a.gs-title:link b,
  .c-search-results .gs-imageResult a.gs-title:link,
  .c-search-results .gs-imageResult a.gs-title:link b {
    color: #005c83;
    text-decoration: none; }
    .c-search-results .gs-webResult.gs-result a.gs-title:link:active, .c-search-results .gs-webResult.gs-result a.gs-title:link:hover, .c-search-results .gs-webResult.gs-result a.gs-title:link:focus,
    .c-search-results .gs-webResult.gs-result a.gs-title:link b:active,
    .c-search-results .gs-webResult.gs-result a.gs-title:link b:hover,
    .c-search-results .gs-webResult.gs-result a.gs-title:link b:focus,
    .c-search-results .gs-imageResult a.gs-title:link:active,
    .c-search-results .gs-imageResult a.gs-title:link:hover,
    .c-search-results .gs-imageResult a.gs-title:link:focus,
    .c-search-results .gs-imageResult a.gs-title:link b:active,
    .c-search-results .gs-imageResult a.gs-title:link b:hover,
    .c-search-results .gs-imageResult a.gs-title:link b:focus {
      color: #003e58; }
      .c-search-results .gs-webResult.gs-result a.gs-title:link:active *, .c-search-results .gs-webResult.gs-result a.gs-title:link:hover *, .c-search-results .gs-webResult.gs-result a.gs-title:link:focus *,
      .c-search-results .gs-webResult.gs-result a.gs-title:link b:active *,
      .c-search-results .gs-webResult.gs-result a.gs-title:link b:hover *,
      .c-search-results .gs-webResult.gs-result a.gs-title:link b:focus *,
      .c-search-results .gs-imageResult a.gs-title:link:active *,
      .c-search-results .gs-imageResult a.gs-title:link:hover *,
      .c-search-results .gs-imageResult a.gs-title:link:focus *,
      .c-search-results .gs-imageResult a.gs-title:link b:active *,
      .c-search-results .gs-imageResult a.gs-title:link b:hover *,
      .c-search-results .gs-imageResult a.gs-title:link b:focus * {
        color: #003e58; }
  .c-search-results .gs-webResult.gs-result a.gs-title:visited,
  .c-search-results .gs-webResult.gs-result a.gs-title:visited b,
  .c-search-results .gs-imageResult a.gs-title:visited,
  .c-search-results .gs-imageResult a.gs-title:visited b {
    color: #005c83; }
  .c-search-results .gs-webResult div.gs-visibleUrl,
  .c-search-results .gs-imageResult div.gs-visibleUrl {
    color: #707070;
    font-size: 12px; }
  .c-search-results .gsc-results .gsc-cursor-box {
    margin: 16px 0 0; }
  .c-search-results .gsc-results .gsc-cursor-box .gsc-cursor-current-page,
  .c-search-results .gsc-results .gsc-cursor-box .gsc-cursor-page {
    margin-right: 0;
    padding: 8px;
    border: 0;
    background-color: transparent;
    color: #005c83;
    font-size: 18px; }
    .c-search-results .gsc-results .gsc-cursor-box .gsc-cursor-current-page:active, .c-search-results .gsc-results .gsc-cursor-box .gsc-cursor-current-page:hover, .c-search-results .gsc-results .gsc-cursor-box .gsc-cursor-current-page:focus,
    .c-search-results .gsc-results .gsc-cursor-box .gsc-cursor-page:active,
    .c-search-results .gsc-results .gsc-cursor-box .gsc-cursor-page:hover,
    .c-search-results .gsc-results .gsc-cursor-box .gsc-cursor-page:focus {
      color: #003e58;
      text-decoration: none; }
  .c-search-results .gsc-results .gsc-cursor-box .gsc-cursor-current-page {
    font-weight: 700; }
  .c-search-results .gs-snippet {
    margin-top: 3px; }
  .c-search-results .gs-no-results-result {
    min-height: 300px; }

.c-search-sheet {
  position: absolute;
  top: 54px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: none;
  background-color: #f7f7f7;
  transition: background-color 0.15s ease-in-out; }
  @media (min-width: 60em) {
    .c-search-sheet {
      position: inherit; } }
  .c-search-sheet.c--active {
    display: block; }

.c-sidebar {
  width: calc(100% - 24px); }
  @media (max-width: 35em) {
    .c-sidebar {
      width: 80%; } }
  @media (min-width: 35em) and (max-width: 60em) {
    .c-sidebar {
      width: 70%; } }
  .c-sidebar.c--hide {
    display: none !important; }
  @media (min-width: 60em) {
    .c-sidebar {
      width: 300px; }
      .c-sidebar.c--hide {
        display: flex !important; } }

.sdk-sidebar__doc-title {
  margin: 0; }

/* Sidebar Accordio */
/* 1. To absolutely position the accordion icon relative to accordion */
/* 2. To align the icon to the text  */
/* 3. A fix for Chrome Canary */
.sdk-sidebar__accordion {
  position: relative;
  /* 1 */
  padding: 16px;
  width: 100%;
  border-radius: unset;
  /* 3 */
  background-color: #005c83;
  color: #fff;
  text-align: left;
  transition: color 0.2s ease-out;
  border-style: none; }

.sdk-sidebar__accordion.c--active {
  background: #0288a7; }

.sdk-sidebar__accordion:hover {
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer; }

.sdk-sidebar__accordion ~ .sdk-sidebar__accordion-item {
  visibility: hidden; }

.sdk-sidebar__accordion.sdk--active ~ .sdk-sidebar__accordion-item {
  visibility: visible; }

.sdk-sidebar__accordion-title {
  margin-left: 24px;
  font-size: 18px; }

.sdk-sidebar__accordion:before {
  content: '';
  position: absolute;
  /* 1 */
  top: 20px;
  /* 2 */
  left: 0;
  width: 15px;
  height: 15px;
  margin-left: 16px;
  background-image: url("../icons/icon-plus.svg");
  transform: rotate(0);
  transition: transform 0.2s ease-out; }

.sdk-sidebar__accordion.sdk--active:before {
  transform: rotate(45deg); }

.sdk-sidebar__accordion.sdk--active {
  background: #003e58; }

.sdk-sidebar__accordion.sdk--active::after {
  content: '';
  position: absolute;
  /* 1 */
  right: 16px;
  bottom: 0;
  left: 16px;
  border-top: 1px solid #005c83; }

.sdk-sidebar__accordion.sdk--active ~ .sdk-sidebar__accordion-item {
  color: #fff;
  background: #003e58;
  padding: 16px 0; }

.sdk-sidebar__accordion:focus {
  outline: none; }

.sdk-sidebar__accordion-item,
.c-sidebar__product-picker-item {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out; }

.sdk-sidebar__accordion.sdk--remove-transition ~ .sdk-sidebar__accordion-item {
  transition: none; }

.sdk-sidebar__link {
  display: block;
  padding: 16px;
  color: #fff; }

.sdk-sidebar__link.c--active {
  background: #0288a7; }

.sdk-sidebar__link:hover {
  background: rgba(0, 0, 0, 0.2);
  color: #fff; }

.sdk-sidebar__list-link {
  display: block;
  margin: 1px 0;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  color: #fff;
  font-size: 14px;
  text-decoration: none; }

/* Special padding for 3rd-level menu items */
.sdk-sidebar__list li ul li ul a {
  padding-left: 50px; }

.sdk-sidebar__accordion-item a.c--active {
  background-color: #0288a7;
  font-weight: 700; }

.sdk-sidebar__list-link:hover,
.sdk-sidebar__list-link:focus {
  background: #0f7293;
  color: #fff; }

.sdk-sidebar__accordion-item a:active {
  background: #0288a7;
  color: #fff; }

.sdk-sidebar__scroll {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

.sdk-sidebar__scroll::-webkit-scrollbar {
  display: none; }

.c-sidebar__product-picker button {
  color: #fff;
  padding: 0;
  border: 0; }

.c-sidebar__product-picker-link {
  color: #fff; }

.c-sidebar__product-picker-item ~ .c-sidebar__product-picker-item {
  visibility: hidden; }

.c-sidebar__product-picker-item.c--active ~ .c-sidebar__product-picker-item {
  visibility: visible; }

.c-sidebar__product-picker-chevron {
  transition: transform 0.2s ease-out; }
  .c-sidebar__product-picker-chevron.c--active {
    transform: rotate(180deg); }

.c-spinner {
  display: block;
  margin: 48px auto;
  animation: rotator 1.4s linear infinite; }

.c-spinner__circle {
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
  stroke-dasharray: 187;
  stroke-dashoffset: 0; }

@keyframes rotator {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(270deg); } }

@keyframes colors {
  0% {
    stroke: #005c83; }
  50% {
    stroke: #005c83; }
  100% {
    stroke: #005c83; } }

@keyframes dash {
  0% {
    stroke-dashoffset: 187; }
  50% {
    transform: rotate(135deg);
    stroke-dashoffset: 46.75; }
  100% {
    transform: rotate(450deg);
    stroke-dashoffset: 187; } }

.c-availability-table,
.c-availability-table__header,
.c-availability-table__data {
  border: 0 !important; }

@media (min-width: 60em) {
  .c-availability-table__header--repeated {
    display: none; } }

.c-availability-table__slanted-header {
  width: 42px;
  margin-bottom: 20px;
  margin-left: -20px;
  transform: translate(25px, 51px) rotate(315deg); }

.c-availability-table__data {
  padding: 0 !important;
  border-right: 1px solid #d2d2d2 !important;
  border-left: 1px solid #d2d2d2 !important;
  font-weight: bold;
  font-size: 10px;
  text-align: center !important; }

.c-availability-table__data--available {
  color: #5CB841; }

.c-availability-table__data--unavailable {
  color: transparent; }

.c-text-content > *:not(:last-child) {
  margin-bottom: 16px; }

.c-text-content h2:not(:first-child) {
  margin-top: 40px; }

.c-text-content h3:not(:first-child) {
  margin-top: 24px; }

.c-text-content ul,
.c-text-content ol {
  margin-left: 16px;
  padding-left: 24px; }
  .c-text-content ul li,
  .c-text-content ol li {
    margin-bottom: 4px; }

.c-text-content a {
  text-decoration: underline; }
  .c-text-content a:hover, .c-text-content a:active, .c-text-content a:focus {
    text-decoration: none; }

.c-text-content table {
  min-width: 100%;
  background: #fff; }

.c-text-content td,
.c-text-content th {
  padding: 8px;
  border: 1px solid #d2d2d2;
  text-align: left; }

.c-text-content th {
  font-weight: bold; }

.c-text-content blockquote {
  margin-left: 16px;
  padding-left: 16px;
  border-left: 4px solid #002c3f; }

.c-text-content figcaption {
  color: #707070;
  font-family: "consolas", "menlo", monospace;
  font-size: 12px;
  text-align: center; }

.c-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 0.1rem 0.25rem rgba(6, 23, 39, 0.1); }
  @media (max-width: 35em) {
    .c-card {
      width: 100%; } }
  .c-card a {
    text-decoration: none; }

.c-card__heading,
.c-card__message {
  margin-bottom: 16px;
  padding-right: 16px;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", helvetica, sans-serif;
  text-decoration: none; }

.c-card__heading a {
  color: #333; }

.c-card__basement {
  margin-top: auto; }

ul.c-section-contents {
  margin-left: 0;
  padding-left: 0; }
  ul.c-section-contents a {
    text-decoration: none; }
  ul.c-section-contents .c-card__heading {
    margin-top: 16px; }
  ul.c-section-contents .c-card {
    transition: box-shadow 0.15s ease; }
    ul.c-section-contents .c-card:hover {
      box-shadow: 0 0 0.35rem rgba(6, 23, 39, 0.4); }

@media (max-width: 35em) {
  .t-category table.gsc-search-box {
    width: 100%; } }

@media (min-width: 35em) and (max-width: 60em) {
  .t-category table.gsc-search-box {
    width: 100%; } }

.t-category .c-search-box .gsc-input-box-focus::after {
  color: #707070; }

.t-error .c-search-box .gsc-input-box-focus::after {
  color: #707070; }

@media (max-width: 35em) {
  .t-footer-layout__buttons > div:first-child {
    margin-bottom: 24px; } }

.t-footer {
  min-height: 120px; }

.t-header-layout {
  min-height: 125px;
  padding-top: 16px;
  padding-bottom: 16px; }
  .t-header-layout .c-search-box {
    position: absolute;
    top: 4px;
    right: 0;
    left: 0;
    z-index: 1000; }
    @media (max-width: 35em) {
      .t-header-layout .c-search-box {
        min-width: initial; }
        .t-header-layout .c-search-box.c--search-open {
          transform: translate(calc(100% - 15%), 0); } }
    @media (min-width: 35em) and (max-width: 60em) {
      .t-header-layout .c-search-box {
        min-width: initial; }
        .t-header-layout .c-search-box.c--search-open {
          transform: translate(calc(100% - 30%), 0); } }
  @media (min-width: 60em) {
    .t-header-layout {
      padding-top: 26px;
      padding-bottom: 25px; }
      .t-header-layout .c-search-box {
        position: inherit; } }

@media (min-width: 60em) {
  .t-header-layout__search {
    width: 290px;
    margin-left: 40px; } }

.t-header-layout__content {
  min-height: 70px; }

.t-header .c-search-box {
  max-width: auto; }
  @media (min-width: 35em) {
    .t-header .c-search-box {
      max-width: calc(20em + 64px);
      margin-right: auto;
      margin-left: auto; } }

.t-home__divider-block {
  margin-bottom: 64px; }

.t-platform-index .c-divider.c--overview-divider {
  display: none; }

.t-search .c-search-box {
  width: 75%; }
  @media (max-width: 35em) {
    .t-search .c-search-box {
      width: 100%; } }
