include ./top-nav
include ./version-picker

mixin header(title, intro, hasPicker)
    - title = title || SITE_TITLE
    header.t-header-layout.u-flex-none
        +top-nav
        div.c-contain
            div.c-search-sheet.u-small-shadow-inset
                span.u-visually-hidden Search Sheet
            div.c-search-box.u-margin-bottom-lg
                gcse:searchbox-only
            div.t-header-layout__content.u-flexbox
                div.u-flex
                    if hasPicker
                        div.u-hidden--for-tablet-landscape-up
                            +versionPicker
                div.t-header-layout__search.u-flex-none.js-search-input.u-hidden--for-phone-only.u-hidden--for-tablet-only
                    if hasPicker
                        +versionPicker
        div.c-contain
            div.u-margin-top-lg
                h1.c-heading.c--h1 #{title}