include ./top-nav
include ./version-picker

mixin header(title, intro, hasPicker)
    - title = title || SITE_TITLE
    header.t-header-layout.u-flex-none.u-margin-bottom-xl.u-background-neutral-10.u-small-shadow
        +top-nav
        div.c-contain
            div.c-search-sheet.u-small-shadow-inset
                span.u-visually-hidden Search Sheet
            div.t-header-layout__content.u-flexbox.u-align-center.u-context.u-justify-between
                div.u-flex
                    div.u-margin-end
                        h1.c-heading.c--h1 #{title}
                        if intro
                            p.u-margin-top-sm.u-neutral-50 #{intro}
                    if hasPicker
                        div.u-hidden--for-tablet-landscape-up
                            +versionPicker
                div.t-header-layout__search.u-flex-none.js-search-input.u-hidden--for-phone-only.u-hidden--for-tablet-only
                    if hasPicker
                        +versionPicker
                    div.c-search-box
                        gcse:searchbox-only
