mixin versionPicker
    div.c-version-picker
        button#version-picker.c-version-picker__button
        span#version-picker-caret.c-version-picker__caret
        ul#version-picker-versions.c-version-picker__list
